* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Styles */
/* Google Fonts */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
  font-size: 45px;
  font-weight: 800;
}

.color-orange {
  color: #fd6e0a;
}

.btn {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 18px 36px;
  border: none;
  border-radius: 5px;
  background-color: #fd6e0a;
  cursor: pointer;
}
/* Main Styles */
/* Header Section Styles */
header {
  background-color: #fff8f3;
  padding-top: 50px;
}

/* Navbar Styles */
nav {
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu {
  display: flex;
  align-items: center;
  gap: 51px;
  list-style: none;
}

nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}
